* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.calc-frame {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: solid 1px;
  justify-content: space-between;
  background-color: #bbbbbb;
  padding: 10px;
}
.sep-line {
  width: 90%;
  height: 1px;
  background-color: #000;
  margin: 10px;
}
.screen-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.screen-frame {
  width: 90%;
  height: 75px;
  margin: 20px;
  padding: 5px;
  border: solid 1px;
  background-color: #f2f2f2;
  position: relative;
}
.screen-text {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 30px;
}
.btns-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.numbers.operations {
  margin: 3px;
  display: flex;
}
.operations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 10px 5px 10px 5px;
}
.numbers {
  flex-direction: column;
  width: 70%;
  margin: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 100px;
  height: 103px;
  margin: 3px;
  font-size: 1.5rem;
  color: #fff;
  background-color: black;
  border: solid #f2f2f2 3px;
}

.btn-operations {
  width: 120px;
  height: 60px;
  flex-grow: 1;
}
.equal {
  background-color: #df8220;
}
